<sdf version="1.5">
  <model name="human" xmlns:xacro="http://www.ros.org/wiki/xacro">
   <xacro:property name="armEffort" value="0" /> <!-- Standard value is 30 -->
   <xacro:property name="wristEffort" value="0" /> <!-- Standard value is 10 -->
   <xacro:include filename="../pr2/pr2.include" />

    <xacro:property name="xoffset" value="0.739280" />
    <xacro:property name="yoffset" value="0" />
    <xacro:property name="zoffset" value="0" />

    <xacro:property name="prefix" value="" />

   <!-- Human -->
   <xacro:include filename="../human/human.include"/>
  </model>
</sdf>
