<sdf version="1.5">
  <model name="human" xmlns:xacro="http://www.ros.org/wiki/xacro">
   <xacro:property name="armEffort" value="30" /> <!-- Standard value is 30 -->
   <xacro:property name="wristEffort" value="10" /> <!-- Standard value is 10 -->
   <xacro:property name="jointFriction" value="0" />
   <xacro:include filename="../pr2/pr2.include" />

    <xacro:property name="xoffset" value="0.739280" />
    <xacro:property name="yoffset" value="0" />
    <xacro:property name="zoffset" value="0" />

    <xacro:property name="prefix" value="" />

   <!-- Human -->
   <xacro:include filename="../human/human.include"/>
   <plugin name="joint_forces_plugin" filename="libJointForcesPlugin.dylib"/>

   <plugin name="pr2_arm_controller" filename="libStableControllerPlugin.dylib">
      <control-delay>0.0</control-delay>
      <controlled-joint>r_shoulder_lift_joint</controlled-joint>
      <controlled-joint>r_shoulder_pan_joint</controlled-joint>
      <controlled-joint>r_upper_arm_roll_joint</controlled-joint>
      <controlled-joint>r_elbow_flex_joint</controlled-joint>
      <controlled-joint>r_forearm_roll_joint</controlled-joint>
      <controlled-joint>r_wrist_flex_joint</controlled-joint>
      <controlled-joint>r_wrist_roll_joint</controlled-joint>
      <controlled-joint>l_shoulder_lift_joint</controlled-joint>
      <controlled-joint>l_shoulder_pan_joint</controlled-joint>
      <controlled-joint>l_upper_arm_roll_joint</controlled-joint>
      <controlled-joint>l_elbow_flex_joint</controlled-joint>
      <controlled-joint>l_forearm_roll_joint</controlled-joint>
      <controlled-joint>l_wrist_flex_joint</controlled-joint>
      <controlled-joint>l_wrist_roll_joint</controlled-joint>
   </plugin>
  </model>
</sdf>
